@model ElevenNote.Web.Models.GuessingGameViewModel

<h1><strong>Guessing Game</strong></h1>
<hr />

@if (ViewBag.Win == null || ViewBag.Win > 0)
{
    if (ViewBag.Win == 1)
    {
        <h2>Sorry, @Model.Name, the guess of @Model.Guess is <strong>SUPER</strong> close, but still wrong</h2>
        <h2>@ViewBag.Temperature</h2>
        <h2>Guesses= @Session["Guess Count"]</h2>
    }

    else if (ViewBag.Win == 2)
    {
        <h2>Sorry, @Model.Name, the guess of @Model.Guess is wrong, but within 50</h2>
        <h2>@ViewBag.Temperature</h2>
        <h2>Guesses= @Session["Guess Count"]</h2>
    }

    else if (ViewBag.Win == 3)
    {
        <h2>Sorry, @Model.Name, the guess of @Model.Guess is wrong, but within 100</h2>
        <h2>@ViewBag.Temperature</h2>
        <h2>Guesses= @Session["Guess Count"]</h2>
    }

    else if (ViewBag.Win == 4)
    {
        <h2>Sorry, @Model.Name, the guess of @Model.Guess is wrong, but within 400</h2>
        <h2>@ViewBag.Temperature</h2>
        <h2>Guesses= @Session["Guess Count"]</h2>
    }

    else if (ViewBag.Win == 5)
    {
        <h2>Sorry, @Model.Name, the guess of @Model.Guess is not even close</h2>
        <h2>@ViewBag.Temperature</h2>
        <h2>Guesses= @Session["Guess Count"]</h2>
    }
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    @if (ViewBag.Win != null)
                    {
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    }
                    else
                    {
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    }
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Guess, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Guess, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Guess, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guess" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Give Up and Start Over", "Index")
    </div>
}
else
{
    <h1>
        You win! Great job, @Model.Name, the answer <strong>was</strong> @Model.Guess! It took you @Session["Guess Count"] guesses. Can't you do better?
    </h1>


    <div>
        @Html.ActionLink("Start Again", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}